/* 달력 디자인 */
.date_design {
    background-color: #15284e ;
    color: #fff ;
    width: 130px ;
    font-size: 13px ;
    margin-left: 10px ;
    font-family: KHNPHDRegular ;
 }

 /* btnArea */
 .buttonArea, .buttonArea1 {
    display: inline-flex;
    margin-left: 10px;
    height: 27px;
 }

 /*저장 btn */
 .save_btn {
    width: 110px;
    height: 32px;
    align-self: center;
    border: solid 1px #b4dffa;
    background-color: rgba(139, 194, 240, 0.25);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 7px;
}

/* 조회 Btn */
.searchBtn {
    width: 110px;
     height: 32px;
     align-self: center;
     border: solid 1px #b4dffa;
     background-color: rgba(139, 194, 240, 0.25);
     cursor: pointer;
     border-radius: 4px;
     margin-left: 17px;
     margin-top: 31px;
 }

 .search_btn_font{
	text-shadow: 0 0 9px #5cafff;
    font-size: 17px;
    letter-spacing: normal;
    color: #fff;
    font-family: KHNPHDRegular;
    text-align: center;
    line-height: 2;
}

.searchLabel{
    font-family: KHNPHDRegular;
    text-align: center;
    font-size: 14px;
    letter-spacing: 4px;
    color: white;
}

/* search Box */
.searchBox{
	display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 51px;
}

.searchTag1{
	  height: 36%;
    width: 100%;
}

/* 버튼 **/
.button {
    width: 60px;
    height: 75%;
    border: solid 1px #b4dffa;
    background-color: rgba(139, 194, 240, 0.25);
    cursor: pointer;
    border-radius: 4px;
    font-family: 'KHNPHDRegular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
 }

 /* 새로고침 이미지 */
 .refresh_img{
    background: url('@/assets/img/refresh.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 55px;
    height: 55px;
    margin-left: 30%;
}

.font_timer{
    font-family: LABDigital !important;
    font-size: 25px;
    color: #c3eaff;
    letter-spacing: 1px;
    line-height: 111px;
}