.menu-bar {
    width: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(
      to right,
      rgba(19, 46, 69, 0.5) 2%,
      rgba(10, 80, 124, 0.7) 48%,
      #08214a 95%
    );
    .q-expansion-item {
      width: 100%;
      align-items: center;
    }
    .submenu {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      color: white;
  
      .svgIcon {
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: white;
      }
  
      span {
        white-space: nowrap;
      }
    }
    .menu {
      .logo-box {
        width: 100%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 55px;
          height: 25px;
        }
      }
      .menu-item {
        width: 100%;
        height: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #828eb6;
        font-size: 11px;
        font-weight: lighter;
        cursor: pointer;
  
        img {
          width: 33px;
          margin-bottom: 12px;
          margin-top: 10px;
        }
      }
  
      .selected {
        background: rgba(255, 255, 255, 0.1);
  
        .select {
          color: white;
        }
      }
    }
  
    .item2 {
      display: flex;
      padding: 10px 12px;
      width: 100%;
      align-items: center;
      font-size: 0.8125rem;
      color: white;
      white-space: nowrap;
      padding-left: 35px;
      .circle {
        width: 4px;
        height: 4px;
        background: white;
        border-radius: 6px;
        margin-right: 22px;
      }
    }
  
    .ems-subMenu {
      width: 165px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 105px;
      background: linear-gradient(91deg, rgba(11, 50, 95, 0.8) 1%, #021f3b 95%);
      .sub-logo {
        cursor: pointer;
        padding-top: 20px;
        width: 100%;
        height: 63px;
        display: inline-flex;
        align-items: center;
  
        img {
          // width: 17px;
          width: 20px;
          margin-right: 5px;
          margin-left: 13px;
        }
        span {
          font-size: 15px;
          color: white;
        }
      }
  
      .sub-item {
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        // img {
        //   margin: 14px 16px 14px 0;
        //   width: 24px;
        //   margin-right: 12px;
        // }

        img {
          margin-left: 13px; 
          margin-right: 12px; 
          width: 20px; 
          height: 18px; 
          background-size: 100%;
        }

        img.ect {
          width: 28px !important;
        }

        span {
          color: white;
          font-size: 0.8125rem;
          font-weight: 500;
          line-height: 1rem;
        }
  
        .selectFont {
          color: #10a4df;
        }
  
        .expandCon {
          display: none;
        }
  
        .sub-item-list {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 0px;
          visibility: hidden;
          padding-left: 40px;
  
          .item {
            display: flex;
            padding: 10px 12px;
            width: 100%;
            align-items: center;
            font-size: 0.8125rem;
            color: white;
            white-space: nowrap;
  
            .circle {
              width: 4px;
              height: 4px;
              background: white;
              border-radius: 6px;
              margin-right: 22px;
            }
          }
  
          .item:hover {
            // background: rgba(0, 0, 0, 0.1);
            transition: 0.2s;
          }
          .sub2-menu-list {
            display: flex;
            padding: 10px 12px;
            width: 100%;
            align-items: center;
            font-size: 0.8125rem;
            color: white;
            white-space: nowrap;
          }
        }
        .showList {
          visibility: visible;
          height: auto;
        }
      }
    }
  
    .ems-subMenu {
      width: 200px;
    }
    .arrow-box {
      background: rgb(8, 33, 74);
      width: 13px;
      height: 30px;
      position: absolute;
      top: 65px;
      left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .arrow {
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-left: 5px solid white;
        border-bottom: 5px solid transparent;
      }
    }
  
    .arrowEnter {
      left: 105px;
    }
    .arrowEnter.selectems {
      left: 270px;
    }
    .arrowEnter.selectems2 {
      left: 305px;
    }
  }
  
  .menuEnter {
    width: 105px;
  }
  
  // ---- subMenuContent 1.... depth css
  .sub-menu-contents {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 48px;
    cursor: pointer;
    transition: all 0.3s;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  
  .twoDepthMenu {
    align-items: baseline;
  }
  
  .subMenuItemList {
    font-family: KHNPHDRegular;
    font-size: 0px;
    color: white;
    font-weight: inherit;
    margin-left: 35px;
  }
  .do_not {
    list-style-type: none;
  }
  
  .ul-item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .ul-item-span {
    color: white;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1rem;
  }
  .li-item-list {
    width: 100%;
    display: flex;
    align-items: center;
  
    .item {
      display: flex;
      padding: 20px 22px;
      width: 100%;
      align-items: center;
      font-size: 0.8125rem;
      color: white;
      white-space: nowrap;
  
      .circle {
        width: 4px;
        height: 4px;
        background: white;
        border-radius: 6px;
        margin-right: 22px;
      }
    }
  
    .item:hover {
      background: rgba(0, 0, 0, 0.1);
      transition: 0.2s;
    }
  }