.monitor-20 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    .main_title{
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin: 40px 40px 20px 40px;
        cursor: pointer;
    }

    .top-bar {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        gap: 10px;

        .logo {
            height: 60%;
            cursor: pointer;
        }
        .title {
            font-size: 35px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .top-line {
            position: absolute;
            bottom: -10px;
            right: 0;
            height: 32.5px;
        }
    }
    
    
    .header {
        width: 100%;
        height: 80px;
    }
    .content{
        padding: 20px;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        .content-top{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 20px;
            border: 1.5px solid #252d75;
            padding: 5px;
            float: left;
            width: 100%;
            height: 45%;
            
            .chart_area1{
                display: flex;
                flex-direction: column;
                width: 20%;
                height: 95%;
                text-align: center;
                padding-top: 12px;
                margin: 0px 10px 0px 10px;
                font-size: 18px;
                font-weight: bold;
                align-items: center;
                color: #fff;
                text-shadow: 0px 0px 10px #24baff;
                border: 2px solid #252d75;
                border-radius: 20px;
                .header{
                    float: left;
                    width: 279px;
                    height: 45px;
                    background: url('../assets/box-title.png');
                    text-align: center;
                    padding-top: 12px;
                    margin: 10px 0px 20px 0px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 0px 0px 10px #24baff;
                }
            }
            .chart_area2{
                display: flex;
                flex-direction: column;
                width: 20%;
                height: 95%;
                text-align: center;
                padding-top: 12px;
                margin: 0px 10px 0px 10px;
                font-size: 18px;
                font-weight: bold;
                align-items: center;
                color: #fff;
                text-shadow: 0px 0px 10px #24baff;
                border: 2px solid #252d75;
                border-radius: 20px;
                .header{
                    float: left;
                    width: 279px;
                    height: 45px;
                    background: url('../assets/box-title.png');
                    text-align: center;
                    padding-top: 12px;
                    margin: 10px 0px 20px 0px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 0px 0px 10px #24baff;
                }
            }
            .chart_area3{
                display: flex;
                flex-direction: column;
                width: 20%;
                height: 95%;
                text-align: center;
                padding-top: 12px;
                margin: 0px 10px 0px 10px;
                font-size: 18px;
                font-weight: bold;
                align-items: center;
                color: #fff;
                text-shadow: 0px 0px 10px #24baff;
                border: 2px solid #252d75;
                border-radius: 20px;
                .header{
                    float: left;
                    width: 279px;
                    height: 45px;
                    background: url('../assets/box-title.png');
                    text-align: center;
                    padding-top: 12px;
                    margin: 10px 0px 20px 0px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 0px 0px 10px #24baff;
                }
            }
            .chart_area4{
                display: flex;
                flex-direction: column;
                width: 40%;
                height: 95%;
                text-align: center;
                padding-top: 12px;
                margin: 0px 10px 0px 10px;
                font-size: 18px;
                font-weight: bold;
                align-items: center;
                color: #fff;
                text-shadow: 0px 0px 10px #24baff;
                border: 2px solid #252d75;
                border-radius: 20px;
                .header{
                    float: left;
                    width: 279px;
                    height: 45px;
                    background: url('../assets/box-title.png');
                    text-align: center;
                    padding-top: 12px;
                    margin: 10px 0px 20px 0px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 0px 0px 10px #24baff;
                }
            }
             
        }
        .content-bottom{
            display: flex;
            border-radius: 20px;
            border: 1.5px solid #252d75;
            flex-direction: column;
            position: relative;
            float: left;
            width: 100%;
            height: 50%;
            .main_title{
                font-size: 20px;
                font-weight: bold;
                color: white;
                cursor: pointer;
                margin: 30px 40px 10px 40px;
            }
            .calender-container{
                display: flex;
                flex-direction: row;
                justify-content: end;
                padding: 5px;
                float: left;
                height: 10%;
                margin-bottom: 15px;
                .search {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    position: relative;
                    margin: 0px 30px 0px 30px;
                    input {
                        border: none;
                        outline: none;
                        border-bottom: 2px solid #2660ab;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.1);
                        padding: 6px 10px;
                        color: white;
                        font-size: 14px;
                        cursor: pointer;
                        width: 250px;
                    }
                    span {
                        color: white;
                    }
                }
                .button {
                    outline: none;
                    border: none;
                    margin-right: 20px;
                    padding: 10px 60px;
                    background: linear-gradient(to right bottom, #0f77ff, #07418d);
                    color: white;
                    border-radius: 8px;
                    font-size: 14px;
                    cursor: pointer;
                }

            }
            .row-name{
                display: grid;
                grid-template-columns: repeat(5, 1fr); // 각 span 요소를 동일한 너비로 4개의 칼럼으로 설정
                gap: 20px;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(29, 42, 123), rgba(255, 255, 255, 0));
                padding: 15px 0 15px 0;
                span {
                    text-align: center; 
                    font-size: 15px;
                    font-weight: bold;
                    color: white;
                }  
            }
            .alarm-content-container {
                
                max-height: 300px;  /* 원하는 최대 높이 설정 */
                overflow-y: auto;  /* 세로 스크롤 활성화 */
                .alarm-content{
                    .alarm-row-name{
                        display: grid;
                        grid-template-columns: repeat(5, 1fr); // 각 span 요소를 동일한 너비로 4개의 칼럼으로 설정
                        border-bottom: 0.5px solid #929292;
                        padding: 15px 0 15px 0;
                        gap: 20px;
                        span {
                            text-align: center; 
                            font-size: 15px;
                            font-weight: normal;
                            color: white;
                          }
                    }
                    
                }
            }
            
            
        }
    }
    
}
