.monitoring {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    .top-bar {
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        gap: 10px;

        .logo {
            height: 60%;
            cursor: pointer;
        }
        .title {
            font-size: 35px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .top-line {
            position: absolute;
            bottom: -10px;
            right: 0;
            height: 32.5px;
        }
    }
    .header {
        width: 100%;
        height: 80px;
    }
    .back-btn {
        position: absolute;
        top: 42px;
        left: 40px;
        padding: 5px 10px;
        color: #fff;
        background: #3c4fff33;
        border-radius: 4px;
        border: 1px solid #3c4fff;
        cursor: pointer;
        z-index: 10;
    }
    .location {
        position: absolute;
        height: 30px;
        top: 40px;
        right: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
        z-index: 10;

        .search {
            display: flex;
            gap: 6px;
            align-items: center;
            position: relative;
            input {
                border: none;
                outline: none;
                border-bottom: 2px solid #2660ab;
                background: rgba(255, 255, 255, 0.1);
                padding: 6px 10px;
                color: white;
                font-size: 14px;
                cursor: pointer;
                width: 130px;
            }
            span {
                color: white;
            }
        }

        .button {
            outline: none;
            border: none;
            padding: 10px 20px;
            background: linear-gradient(to right bottom, #0f77ff, #07418d);
            color: white;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .chart-box {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .chart-area {
            position: relative;
            width: 100%;
            height: 50%;
            background: rgba(0, 0, 0, 0.25);

            .chart-con {
                position: relative;
                float: left;
                width: 100%;
                height: 100%;
                margin-right: 10px;
                border: 1px solid #2660ab;
                border-radius: 12px;
                .titlebox {
                    margin-bottom: 10px;
                    color: white;
                    img {
                        margin-right: 8px;
                    }
                }
                .chart {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                }
            }
            .chart-con.nomargin {
                width: 422px;
                margin-right: 0;
            }
        }
    }
    .chart-box.warning {
        border: 1px solid #aba026;
        animation: warning 2s infinite;
        box-shadow: 0 0 8px #f6eb22a8;
        .box-edge {
            border-color: #f1da29;
        }

        @keyframes warning {
            from {
                background: #4e500e5e;
            }
            50% {
                background: #9faf0c5e;
            }
            to {
                background: #504f0e5e;
            }
        }
    }
    .chart-box.error {
        border: 1px solid #ab2626;
        animation: error 2s infinite;
        box-shadow: 0 0 8px #c20b0ba8;
        .box-edge {
            border-color: #f12929;
        }

        @keyframes error {
            from {
                background: #500e0e5e;
            }
            50% {
                background: #af0c0c5e;
            }
            to {
                background: #500e0e5e;
            }
        }
    }
    .content {
        width: 100%;
        height: calc(100% - 80px);
        display: flex;
        padding: 20px;
        flex-direction: column;

        .section {
            position: relative;
            display: flex;
            width: 100%;
            .box {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }

            .box-edge {
                width: 12px;
                height: 12px;
                position: absolute;
            }
            .top-L {
                top: -1px;
                left: -1px;
                border-top: 2px solid #2c80ff;
                border-left: 2px solid #2c80ff;
                border-top-left-radius: 10px;
            }
            .top-R {
                top: -1px;
                right: -1px;
                border-top: 2px solid #2c80ff;
                border-right: 2px solid #2c80ff;
                border-top-right-radius: 10px;
            }
            .bottom-L {
                bottom: -1px;
                left: -1px;
                border-bottom: 2px solid #2c80ff;
                border-left: 2px solid #2c80ff;
                border-bottom-left-radius: 10px;
            }
            .bottom-R {
                bottom: -1px;
                right: -1px;
                border-bottom: 2px solid #2c80ff;
                border-right: 2px solid #2c80ff;
                border-bottom-right-radius: 10px;
            }

            .blur {
                filter: blur(2px);
                -webkit-filter: blur(3px);
                border-color: #24d3ff;
            }
        }

        .s-top {
            height: 70%;
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }
        .s-bottom {
            display: flex;
            gap: 20px;
        }
    }
}
.q-dialog--modal {
    .q-card {
        background: url('../assets/alert_box.png') !important;
        background-size: 100% 100% !important;
        padding: 30px;
        color: #b4dffb !important;
        font-family: 'KHNPHUotfR', sans-serif !important;
        font-size: 18px !important;
        line-height: 28px ip !important;
        .large {
            font-size: 20px;
        }
        .text-h6 {
            font-size: 24px;
            color: #b4dffb;
        }
        .confirm-btn {
            color: #fff !important;
            border: 1px solid #b4dffa !important;
            background: rgba(239, 194, 240, 0.25) !important;
        }
    }
    .bg-default {
        background: url('../assets/alert_box.png') !important;
        background-size: 100% 100% !important;
        color: #b4dffb !important;
        font-family: 'KHNPHUotfR', sans-serif !important;
    }
}
// gelix_lsj tab 버튼
.tab-btn {
  position: absolute;
  top: 42px;
  left: 145px;
  padding: 5px 10px;
  color: #fff;
  background: #3c4fff33;
  border-radius: 4px;
  border: 1px solid #3c4fff;
  cursor: pointer;
  z-index: 10;
}
.tab-btn.two {
  left: 213px;
}
.tab-btn.three {
  left: 285px;
}
// gelix_lsj tab 선택
.selected {
  border: 1px solid #00ffee;
  background-color: #22536794;
}
// gelix_lsj 펌프 차트 확대 아이콘
.full-chart {
  z-index: 10;
  width: 25px;
  height: 25px;
  background: url('../assets/full-chart.png');
  background-size: 100% 100%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
// gelix_lsj 차트 확대 모달 팝업
.modal {
  &.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &-window {
    background: #101320;
    border-radius: 4px;
    overflow: hidden;
  }

  &-content {
    padding: 10px 20px;
  }

  &-header {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }

  &-header img {
    width: 16px;
    margin-right: 8px;
  }
  
  &-close-button {
    background-color: #DA4354;
    color: #EADCDE;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: auto;
  }
}

// 오버레이 트랜지션
.modal-enter-active, .modal-leave-active {
  transition: opacity 0.4s;

  // 오버레이에 포함되어 있는 모달 윈도의 트랜지션
  .modal-window {
    transition: opacity 0.4s, transform 0.4s;
  }
}

// 딜레이가 적용된 모달 윈도가 제거된 후에 오버레이가 사라짐
.modal-leave-active {
  transition: opacity 0.4s ease 0.4s;
}

.modal-enter, .modal-leave-to {
  opacity: 0;

  .modal-window {
    opacity: 0;
    transform: translateY(-20px);
  }
}