@font-face {
    font-family: "KHNPHUotfR";
    src: url('../assets/font/KHNPHDRegular.ttf');
}

@font-face {
    font-family: "KHNPHDRegular";
    src: url('../assets/font/KHNPHDRegular.ttf');
}

@font-face {
    font-family: "KHNPHDBold";
    src: url('../assets/font/KHNPHDBold.ttf');
}

@font-face {
    font-family: "LAB디지털";
    src: url('../assets/font/LABDigital.ttf');
}

@font-face {
	font-family: LABDigital;
    src: url('../assets/font/LABDigital.ttf');
}
