@charset "UTF-8";

.pump_area_w3{
  height: 100%;
  width: calc(100% / 3);
}
.pump_area_w4{
  height: 100%;
  width: calc(100% / 4);
}
.pump_area_w50{
	height: 100%;
    width: 50%;	
}
.pop_font{
	font-family: 'KHNPHDRegular';
    font-size: 20px;
    color: #fff;
}
.pop_pump_img{
    background: url('@/assets/img/peakcontrol/pump_peakcontrol.png') no-repeat;
    background-size: 77% ;
    background-position: center;
    text-align: left;
    font-family: 'KHNPHDRegular';
    font-size: 16px;
    color: #fff;
    mix-blend-mode: color-dodge;
}
.img_circle{
	background:url('@/assets/img/r_circle.png') no-repeat;
	background-position: center;
	background-size: contain;
}
.ai_text {
    margin-right: 2%;
    font-size: 25px;
    font-family: 'KHNPHDBold';
    color: white;
    text-shadow: 0 0 10px #000000;
}

.flex_center{
	/* display: flex; */
    align-items: center;
    justify-content: space-around;
}
/* 펌프관련 */
.pump_area_h2 {
	height: calc(100%/ 2 );
	width: calc(100% );
  margin-top: 5px;
}

.pump_area_h3 {
	height: calc(100%/ 3.3 );
	width: calc(100% );
  margin-top: 5px;
}

.pump_area_h4 {
	height: calc(100%/ 4 );
	width: calc(100% );
  margin-top: 5px;
}

.pump_area_h5 {
	height: calc(100%/ 5 );
	width: calc(100% );
}

.pump_area_h35 {
	height: 39%;
    width: 100%;
}

.pump_img {
    background: url("@/assets/img/peakcontrol/pump_peakcontrol.png") no-repeat;
    background-size: 35%;
    background-position: center;
    text-align: left;
    text-indent: 20%;
    mix-blend-mode: color-dodge;
    
}

.pipe1_wrap{
align-items: center;
    height: 9%;
    margin-top: 0;
}
.pipe1_line1{
height: 100%;
    width: 23%;
}
.pipe1_line2{
height: 50%;
    width: 65%;
    background: url("@/assets/img/ai_song/pipe_1.png") no-repeat;
    background-size: 100%;
}
.pipe1_line2-1{
	height: 90%;
    width: 5.5%;
    background: url("@/assets/img/ai_song/pipe_y.png") no-repeat;
    background-size: 100%;
    margin-top: 3%;
    float: left;
}
.pipe1_line2-2{
	height: 90%;
    width: 5.5%;
    background: url("@/assets/img/ai_song/pipe_y.png") no-repeat;
    background-size: 100%;
    margin-top: 3%;
    float: left;
    margin-left: 63%;
}
.pipe1_line3{
margin: 0% 0 0 -1%;
    height: 100%;
}
.pipe1_line3_pipe{    
	height: 60%;
    width: 22%;
    background: url("@/assets/img/ai_song/pipe_y.png") no-repeat;
    background-size: 100%;
    margin-top: -22%;
    float: left;
    margin-left: 37%;
}

.pipe2_line1{
height: 100%;
    width: 17%;
}

.pipe2_line2{
margin: 0;
    height: 100%;
}

.pipe2_line3{
height: 100%;
    width: 27%
}

.pipe2_line4{
margin: 0;
    height: 100%;
}

.sub_bottom_left_pump1_line{
display: flex;
flex-direction: row;
align-items: center;
height: calc(33% - 30px);
width: calc(100% - 31px);
    padding: 15px;
float: left;
}
.sub_bottom_left_pump1_wrap{
width: calc(100% / 4);
    height: 100%;
    margin-right: 5px;
}
.sub_bottom_left_pump1_box{
    background-size: 100% 100% !important; 
    width: 100%;
    height: 80%;
}
.sub_bottom_left_pump1_img{
background-size: 70% !important;
    width: 100%;
    height: 100%;
    background-position: center !important;
}
.sub_bottom_left_pump1_toggle{
width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_bottom_left_pump2_wrap{
    display: flex;
    flex-direction: column;
    height: 13%;
    float: left;
    width: 100%;
    align-items: center;
}
.sub_bottom_left_pump2_box{
background: url("@/assets/img/ai_song/ai_arrow.png") no-repeat;
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    mix-blend-mode: color-dodge;
}
.sub_bottom_left_pump3_back{
display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
height: calc(42% - 20px);
    background-color: #ff00004a;
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
}
.sub_bottom_left_pump3_wrap{
display: flex;
float: left;
align-items: center;
    height: calc(70% - 25px);
    flex-direction: row;
    padding: 10px 15px 15px 15px;
    width: calc(100% - 31px);
}
.sub_bottom_left_pump3_box{
    width: calc(100% / 4);
    height: 100%;
    margin-right: 5px;
    background-size: 100% 100% !important;
}
.sub_bottom_left_pump3_img{
background-size: 70% !important;
    width: 100%;
    height: 100%;
    background-position: center !important;
}
.sub_bottom_left_pump3_text_wrap{
display: flex;
float: left;
align-items: center;
    height: 30%;
    flex-direction: column;
    padding: 0 30px;
    width: calc(100% - 60px);
}
.sub_bottom_left_pump3_text{
width: 100%;
height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sub_bottom_right_pump1_wrap{
width: calc(100% / 2);
    height: 100%;
    margin-right: 5px;
}
.sub_bottom_right_pump1_box{
background-size: 100% 100% !important;
    width: 100%;
    height: 80%;
}
.sub_bottom_right_pump1_img{
background-size: 60% !important;
    width: 100%;
    height: 70%;
    background-position: bottom  !important;
}

.sub_bottom_right_pump1_text{
	width: 100%;
    text-align: center;
    color: white;
    font-family: 'KHNPHDRegular';
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.sub_bottom_right_pump1_value{
	height: 100%;
    margin: 0 5px 0 0;
}
.sub_bottom_right_pump3_box{
background-size: 100% 100% !important;
    width: 100%;
    height: 100%;
}

.ai_text{
margin-right: 2%;
    font-size: 25px;
    font-family: 'KHNPHDBold';
    color: white;
    text-shadow: 0 0 10px #000000;
}
.sub_content{height: 55%; display: flex;align-items: center;padding: 0 0 0 26%;}
.sub_content_font {
    text-shadow: 0 0 9px #5cafff;
    font-size: 14px;
    font-family: KHNPHDRegular;
    letter-spacing: normal;
    color: #c3eaff;
    align-self: center;
    padding: 0 2% 0 0;
    float: left;
}
.sub_input_box{width: 70px; border: 1px solid #489cf2;background-color: #15284e; color: #fff;    font-family: LABDigital;text-align: center;  margin-right: 2%;float: left;}
.sub_text_box{ height: 100%;   border: transparent;  background-color: transparent;  color: #fff;}
.pump_div{height: 25%;margin: 3% 6% 0 6%;width: calc(100% - 12%);}
.sub_content_middle{background: url("@/assets/img/ai_song/middle.png");background-size: 100% 100%; width: 16%;}
.sub_content_middle_value{display: flex; align-items: center;  justify-content: center;  height: 50%;width:100%;}

.subbox-bottom{height:60%; margin-top: 2%;}
.sub_bottom_right{width: 30%; margin-right: 1%; background: url("@/assets/img/ai_song/bottom.png") no-repeat; background-size: 100% 100%;}
.sub_bottom_left{width: 50%; background: url("@/assets/img/ai_song/bottom.png") no-repeat; background-size: 100% 100%; }
.sub_bottom_title{display: flex;flex-direction: column; height: 11%; float: left; width: 100%; align-items: center;}
.sub_bottom_title-font{ text-shadow: 0 0 9px #5cafff; font-size: 19px; font-family: KHNPHDBold; letter-spacing: 3px; color: #c3eaff; padding: 20px 0 0 0;  width: 100%; text-align: center; height: 50%;}
.sub_bottom_title-line{ 
	height: 50%;
    width: 50%;
    background: url("@/assets/img/ai_song/title_bottom.png");
    background-size: 100% 100%;
    mix-blend-mode: color-dodge;
}
.sub_bottom_pump_wrap{background: url("@/assets/img/ai_song/pump_wrap.png") no-repeat;    background-size: 100% 100%;    width: 50%;    height: 100%;    float: left;}
.sub_bottom_pump_off{width: 100%; height: 50%;  background-size: 57% 100%;    background-position: center;margin-top: 6%;}
.sub_bottom_pump_on{width: 100%; height: 70%;   background-position: center;}
.sub_bottom_pump_value{display: flex; align-items: center;  justify-content: center;  height: 24%; width: 100%;padding-top: 30px;}
.ai_bottom_middle{    height: 9%;  margin: 0 35% 0 35%;  width: calc(100% - 70%);  background: url("@/assets/img/ai_song/side_layout.png") no-repeat;  background-position: center;   background-size: 100% 100%;    text-align: center;   line-height: 1.5;    font-size: 20px;    color: #fff;}
.songsuLeftBox{
	width: 70%;
	height:96%
}

.songsuRightBox{
	width: 28%;
	height:85%;
	margin-left : 1%;
}
.subbox-cont {
	height:12%; margin-top : 1%;
}

.sub_content_icon {
	width: 35%;
	height: 100%;
	background: url("@/assets/img/ai_song/human_icon_box.png") no-repeat;
	background-size: 100% 100%;
}


.pipe_big_background{
	background: url("@/assets/img/ai_song/pipe_big.png") no-repeat;
    width: 15%;
    height: 100%;
    background-size: 100% 101%;
    background-position: center;
	float: left;
	display: flex;
    align-items: flex-end;
}

.pipe_big_gauge{
	background: url("@/assets/img/ai_song/pipe_big.png") no-repeat;
    width: 100%;
    height: 62%;
    background-size: 100% 100%;
	float: left;
}

.pipes_wrap{
	width: 83%;
    height: 100%;
	margin-left: 2%;
	float: left;
}

.pipe_background{  
  height: calc(100% / 9);
   border: solid 2px #b4dffa;
   margin-bottom: 5px;
    /* background: url("@/assets/img/ai_song/one_pump.png") no-repeat;
    background-size: 100% 100%; */
}
.pipe2_background{
	height: calc(100% / 9 + 100% / 9);
  background: url("@/assets/img/ai_song/two_pump.png") no-repeat;
  background-size: 100% 100%;
}

/*남양5 관련 css*/
.pipe3_background{
	height: calc(100% / 9 + 100% / 9 + 100% / 9);
    background: url("@/assets/img/ai_song/two_pump.png") no-repeat;
    background-size: 100% 100%;
}

.pipe3_wrap{
	height: 32%;
}
.pipe3_left_wrap{
	width: 50%;
    height: calc(100% - 10px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.pipe2_wrap{height: 50%;}

.pipe_wrap{
	display: flex;
    width: 100%;
    height: 90%;
}


.pipe_left_wrap{
	width: 50%;
    height: calc(100% - 10px);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.pipe_right_water{
	width: 12%;
  margin-left: 3%;
  height: calc(100% - 10px);
}

.pipe_left_line1{
	height: calc(100% / 2);
    width: calc(100% - 20px);
    margin: 0 10px;
}
.pipe_left_line1-1{
	width: calc(27% + 4px);
    height: calc(100% - 4px);
	float:left;
}
.pipe_left_line1-3{
	height: calc(100% - 4px);
    font-size: 15px;
    line-height: 1.8;
    border-radius: 3px;
    float:right;
    width: 27%;
    border: 1px solid #489cf2;
    background-color: #15284e;
    color: #fff;
    text-align: center;
    font-family: 'LABDigital';
}


.pipe_left_line3{
	height: calc(100% / 2);
    width: calc(100% - 20px);
    margin: 0 10px;
}
.pipe_left_line3-1{
   height: calc(100% - 4px);
    font-size: 15px;
    line-height: 1.8;
    border-radius: 3px;
    float:left;
    width: 27%;
    border: 1px solid #489cf2;
    background-color: #15284e;
    color: #fff;    
    text-align: center;
    font-family: 'LABDigital';
}
.pipe_left_line3-3{
   height: calc(100% - 4px);
    font-size: 15px;
    line-height: 1.8;
    border-radius: 3px;
    float:right;
    width: 27%;
    border: 1px solid #489cf2;
    background-color: #15284e;
    color: #fff;
    text-align: center;
    font-family: 'LABDigital';
}
.pipe_center{
	width: 15%;
    background: url("@/assets/img/ai_song/tank.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
}


.pipe_center_line1{
	width: 60%;
    margin: 22px 12px 8px 12px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: yellow;
    font-weight: bold;
	line-height: 0.8;
    border-radius: 3px;
    float: left;
	text-align: center;
}

.pipe_center_line2{
	width: 60%;
    margin: 2px 12px 0 12px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: yellow;
    font-weight: bold;
	line-height: 0.8;
    border-radius: 3px;
    float: left;
	text-align: center;
}

.pipe_center2{
	width: 15%;
}
.pipe_center2_line1{
	height: 50%;
	width: 100%;
    font-size: 15px;
    line-height: 0.8;
    border-radius: 3px;
    float: right;
    border: 1px solid #489cf2;
    background-color: #15284e;
    color: #fff;
    text-align: center;

}

.pipe_right_wrap{
	width: 20%;   
	text-align: start;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.pipe_right_line1{    
	height: 40%;
    width: 160%;
    color: #fff;
    line-height: 1.5;
    font-family: 'KHNPHDRegular';
    font-size: 14px;
    
    margin-right: 700%;
    margin-top: 4px;
    text-shadow: 0 0 9px #5cafff;
    color: #c3eaff;
}
.pipe_right_line2{
  /* height: 30%; */
  width: 60%;
  font-size: 15px;
  line-height: 1.8;
  text-align: center;
  border: 1px solid #489cf2;
  background-color: #15284e;
  color: #fff;
  /* padding-right: 10px; */
  border-radius: 3px;
  font-family: 'LABDigital';
}
/* 벨브 색상 */
.valve_off{
	width: 20%;
  height: 100%;
  background: url("@/assets/img/ai_song/valve.png") no-repeat;
  opacity: 0.4;
  background-size: 90% 90%;
  margin-left: 17%;
  float: left;
}
.valve_on{
	width: 20%;
  height: 100%;
  background: url("@/assets/img/ai_song/valve.png") no-repeat;
  background-size: 90% 90%;
  margin-left: 17%;
  float:left;
}
/* 펌프 배경 색상 */
.pump_bg_on{background: url("@/assets/img/ai_song/pump_wrap.png") no-repeat; }
.pump_bg_off{background: url("@/assets/img/ai_song/pump_wrap.png") no-repeat;opacity: 0.5;}
/* 펌프 색상 */
.pump_on{opacity: 1 !important;}
.pump_off{opacity: 0.25 !important;}

.gauge{animation: guage 4s;animation-delay: 0;}
@keyframes guage{0%{height: 30%;} 60% {height: 80%;} 100%{height: 30%;}}
.fadein {
	animation: 3s fadein;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.slide {
	animation: 3s slide-right;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes slide-right {from { margin-left:100%;}to {margin-left: 200%;}}
@keyframes fadein { 0% {	opacity: 0;}50%{opacity:1;}100%{opacity:0;}}


